body {
    font-family: Montserrat;
}

.logo {
    background-image: url("../img/logo.svg");
    width: 106px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sect_std {
    background-color: #F8F8F8;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}

header {
    padding: 27px 0;
}

footer {
    padding: 27px 0;
}

.link {
    text-decoration: none;
    color: #002248;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 250;
}

.slider_elm {
    position: relative;
}

.inner_slider {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

.text_title {
    color: var(--Blue-Dark, #002248);
    font-family: Montserrat;
    font-size: 60px;
    font-style: italic;
    font-weight: 250;
}

.text_des {
    color: var(--Paragraph-Color-H3, #697687);
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 250;
}

.bold_title {
    color: var(--Blue-Dark, #002248);
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .text_title {
        font-size: 26px;
    }

    .bold_title {
        font-size: 22px;
    }

    .adapt_sect3 {
        justify-content: center;
        text-align: center;
    }

    .slider_img {
        height: auto;
        width: 60%;
    }
}
textarea{
    resize: none;
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .text_title {
        font-size: 40px;
    }

    .bold_title {
        font-size: 35px;
    }
    .adapt_sect3 {
        justify-content: center;
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .slider_img {
        height: auto;
        width: 30%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .slider_img {
        height: auto;
        width: 30%;
    }
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    .slider_img {
        height: auto;
        width: 30%;
    }
}